.Container {
    width: 100%;
    background: #f8f8f8;
    padding: 70px 0;
}

.Content {

    h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;

        color: var(--pool-900);
    }
    
}

.Links{
    ul {
        list-style: none;

        display: grid;
        grid-template-columns: auto auto auto auto auto;
        // grid-column-gap: 24px;
        // grid-row-gap: 10px;
        // padding: 10px;

        @media (max-width: 1200px) {
            grid-template-columns: auto auto auto;
        }

        @media (max-width: 768px) {
            grid-template-columns: auto auto;
        }

        @media (max-width: 576px) {
            grid-template-columns: auto;
        }

        li {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            color: #404242;
            margin-top: 2.5rem;

            transition:color, transform 0.2s;

            a {
                display: flex;
                align-items: center;
            }

            &:hover{
                color:var(--green-600);
                transform: translateX(3px);
            }

            @media(max-width:768px){
                font-size:1.5rem;
                margin-top: 1.5rem;
            }
        }
    }
}