.Container {
    width: 100%;
    margin: auto;
    background: #f8f8f8;
    margin-top:40px;
    padding-bottom: 30px;
}
.Content {
    width: 100%;
    max-width: 1120px;
    margin: auto;

    h1 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;

        color: var(--pool-900);
        padding:40px 0;
    }

    ul {
        list-style: none;

        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        // padding: 10px;

        @media(max-width:768px){
            display: flex;
            flex-flow:column wrap;
        }

        li {
            font-size: 32px;
            font-weight: 700;
            line-height: 40px;
            color: #404242;
            margin-top: 40px;

            a {
                display: flex;
                align-items: center;
            }
        }
    }
}
