.Container {
    width: 100vw;
    height: 64px;
    background: var(--gray-200);
}

.Content {
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin: auto;

    // ul {
    //     width: 100%;
    //     height: inherit;
    //     list-style: none;

    //     display: flex;
    //     justify-content: space-around;

    //     a {
    //         height: inherit;
    //         display: flex;
    //         align-items: center;

    //         transition: box-shadow 0.2s;

    //         li {
    //             float: left;
    //             font-size: 1 rem;
    //             font-weight: 600;
    //             line-height: 1, 25rem;
    //             color: #003d45;
    //         }

    //         &:hover {
    //             box-shadow: inset 0 -3px var(--pool-300);
    //         }
    //     }
    // }
}
