.Container{
    width: 100%;
    max-width: 868px;
    margin: auto;

    h1{
        font-size: 3rem;
        font-weight: 700;

        color: #0B0C0C;
    }

    p{
        font-size: 1.125rem;
        font-weight: 400;
        color: #0B0C0C;
    }
}