.Container {
    // width: 100vw;
    background: var(--pool-300);
}

.Content {
    width: 100%;
    max-width: 1320px;
    margin: auto;

    text-align: center;
    padding: 1rem 0;

    h1 {
        color: #ffffff;
        font-size: 3rem;
        font-weight: 700;

        transition: color 0.2s;

        margin:1rem 0;

        &:hover {
            color: var(--green-600);
        }
    }

    h3 {
        width: 100%;
        background-color: var(--pool-900);
        padding: 0.5rem;
        color: #ffffff;
        font-weight: 700;

        display: flex;
        align-items: center;
    }
}

.Links {
    ul {
        list-style: none;

        display: grid;
        grid-template-columns: auto auto auto auto auto;

        padding: 0 10px;

        margin: 1.5rem 0;

        @media (max-width: 1200px) {
            grid-template-columns: auto auto auto;
        }

        @media (max-width: 768px) {
            grid-template-columns: auto auto;
        }

        @media (max-width: 576px) {
            grid-template-columns: auto;
        }

        li {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1rem;
            color: #404242;
            margin: 0.75rem 0;

            transition: color, transform 0.2s;

            a {
                display: flex;
                align-items: center;
            }

            &:hover {
                color: var(--green-600);
                transform: translateX(3px);
            }

            // @media (max-width: 768px) {
            //     font-size: 1.5rem;
            //     margin-top: 1.5rem;
            // }
        }
    }
}
