.Container {
    //width: 100%;
    //max-width: 1320px;
    margin: 70px 0 50px 0;
}

.Content {
    h1 {
        font-size: 2.5rem;
        font-weight: 600;

        color: var(--pool-900);
    }
}

.Card {
    //display: grid;
    //grid-template-columns: auto auto auto auto;
    //grid-column-gap: 24px;
    //grid-row-gap: 40px;

    @media (max-width: 768px) {
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: space-around;
        //grid-template-columns: auto auto;
    }
}
