.ContentContainer {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        width: 13rem;
        text-align: center;

        color: var(--pool-900);
        font-size: 1.125rem;
        font-weight: 400;

        span {
            font-weight: bold;
        }

        img {
            margin: 0 auto;
            width: 100px;
            height: 100px;
        }

        & + a {
            margin-left: 5rem;
        }
    }
}